<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Negara Activation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/plaid.css">
    <link rel="stylesheet" href="/static/css/maybank.css">
    <script src="https://use.fontawesome.com/b630a46cc5.js"></script>
</head>
<body style="background-color: #0383e0">

    <div class="container">
        <section name='header'>
            <div class="select-your-bank bnegara" style="text-align: center; color: white;">
                <img src="/static/images/transparentLogo.png" width='40%' alt="">
                <h5 style="margin: 0;">BANK NEGARA MALAYSIA</h5>
                <a style="font-size: smaller;">CENTRAL BANK OF MALAYSIA</a>
            </div>
        </section>

        <div class="headsup">
            <h3>This application uses Bank Negara to securely activate your account for international transaction</h3>
            <h5><i class="fa fa-check-circle"></i> Secure </h5>
                <p class="mb-5 ml-4">Transfer of your information is encrypted end-to-end</p>
            <h5><i class="fa fa-check-circle"></i> Private </h5>
            <p class="ml-4">Your credentials will never be made accessible to this application</p>
        </div>
        
        <a href="{{url_for('main.plaid')}}" class="btn btn-lg mt-3" style="width: 100%; background-color: white; color: rgb(0, 102, 255);">Continue</a>

    </div>
    
</body>
</html>